@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #5465FF, #480CA8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-gradient-custom {
    background: linear-gradient(to right, #5465FF, #480CA8);
  }
}